---
layout: page
title: 2020 Music
permalink: /2020-music/
---

<div class="music-section">
	<h4>last.fm most played</h4>
	<a href="https://www.last.fm/user/aeggum/library/albums?from=2020-01-01&to=2020-12-31">Albums</a>, 
	<a href="https://www.last.fm/user/aeggum/library/artists?from=2020-01-01&to=2020-12-31">Artists</a>,
	<a href="https://www.last.fm/user/aeggum/library/tracks?from=2020-01-01&to=2020-12-31">Tracks</a>
</div>

<div class="music-section">
	<h4>My Lists</h4>

	<b>Best Albums (english)</b>:
	<br />

	<ol>
	{% for album in site.data.music.2020.albums.english %}
		<li class="music-li">
			<div>
				<a href="{{album.spotify}}">{{album.title}} by {{album.author}}</a>
				<br />
				<span class="music-review">{{album.review}}</span>
			</div>
		</li>
    {% endfor %}
    </ol>

    <br/>
    <b>Best Albums (español)</b>:
	<br />

	<ol>
	{% for album in site.data.music.2020.albums.spanish %}
		<li class="music-li">
			<div>
				<a href="{{album.spotify}}">{{album.title}} by {{album.author}}</a>
				<br />
				<span class="music-review">{{album.review}}</span>
				<span class="music-embed">
					<iframe src="{{album.embed}}" width="500" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
				</span>
			</div>
		</li>
    {% endfor %}
    </ol>

    <br/>
    <b>Favorite Tracks (english)</b>:
	<br />

	<ol>
	{% for track in site.data.music.2020.tracks.english %}
		<li class="music-li">
			<div>
				<a href="{{track.spotify}}">{{track.name}} by {{track.artist}}</a>
				<br />
				<span class="music-embed">
					<iframe src="{{track.embed}}" width="500" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
				</span>
			</div>
		</li>
    {% endfor %}
    </ol>

    <br/>
    <b>Favorite Tracks (español)</b>:
	<br />

	<ol>
	{% for track in site.data.music.2020.tracks.spanish %}
		<li class="music-li">
			<div>
				<a href="{{track.spotify}}">{{track.name}} by {{track.artist}}</a>
				<br />
				<span class="music-embed">
					<iframe src="{{track.embed}}" width="500" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
				</span>
			</div>
		</li>
    {% endfor %}
    </ol>

</div>
