---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <h1 class="page-heading">Reading Challenge <a href="books/ideas"><small>[book ideas]</small></a></h1>
  <ul>
    {% for member in site.data.members %}
      <li>
        <a href="https://github.com/{{ member.github }}">
          {{ member.name }}
        </a>
        ({{site.data.books[member.books] | size}} books read so far [<a href="books/{{member.books}}">list</a> | <a href="books/{{member.books}}?latest">latest</a>])
      </li>
    {% endfor %}
  </ul>

  <h1 class="page-heading">Tracking <a href="2020-music">My Favorite Music</a></h1>


  <br>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  
  <a href="http://localhost:3011/?provider=NES&token=kdFAntieDsFxBssI6Ax3KWBhKwzIVDQIqmBl9HCA-YAInA8xdHNh9mkJtkY-telmchUhLaaMElzGjOufdI1iWdxhm_2WpG-nOFd3JHzeXQ2hEJgFn4LFBMGm3DTQ44Ew">LOCALHOST</a>

</div>
